<header>
    
    <a href="{{path('home')}}">
        <img src="https://progica.co.jp/wp-content/themes/twentyseventeen/images/logo-toptitle.png" alt="logo" class="logo">
    </a>

    <h2>Le meilleur site pour réserver votre séjour à la campagne !!!</h2>

    <a href="{{path('home')}}">
        <img src="https://progica.co.jp/wp-content/themes/twentyseventeen/images/logo-toptitle.png" alt="logo" class="logo">
    </a>
    
</header>