@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body {
    font-family: 'Instrument Serif', serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
}

a {
    cursor: pointer;
}
